@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto; /* Ortalamak için */
  padding: 0 60px; /* Margin yerine padding kullanımı */
  background-color: #121212;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px; /* Esnek düzen sağlamak için */
  }
}


.hover\:text-gray-400:hover {
  color: #cccccc;
}
