@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-left:  60px;
  margin-right: 60px;
  padding: 0;
  background-color: #121212;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  body {
    margin: 10px; 
  }
}

.hover\:text-gray-400:hover {
  color: #cccccc;
}
