body {
    margin: 70px;
    padding: 0;
    background-color: #121212; /* Arka plan rengini ayarlayın */
    font-family: Arial, sans-serif; /* Genel yazı tipi */
    background-image: url('/background-image.jpg'); /* Arka plan resmi */
    background-size: cover; /* Resmi tam ekran kaplayacak şekilde ayarlar */
    background-position: center; /* Resmi ortalar */
    background-attachment: fixed; /* Kaydırma sırasında resmi sabit tutar */
  }
  